body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.9;
}

/* showcase */

#home-section {
  background: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.9;
}

#home-section .fas,
#create-body .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 7px;
}

#explore-body .fas,
#share-body .fas {
  color: #fff;
  background: #333;
  padding: 5px;
  border-radius: 7px;
}
